.addresses {
    padding-bottom: 86px;

    @include mobile {
        padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        color: #263057;
        margin-bottom: 90px;

        @include mobile {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 30px;
        }
    }
}

.table {
    width: 100%;

    &__row {
        display: flex;
        border-bottom: 1px solid #000;
        padding: 15px 16px 18px;
    }

    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
        display: inline-block;

        @include mobile {
            font-size: 16px;
        }

        &:first-child {
            margin-right: 226px;

            @include tablet {
                margin-right: 0px;
            }
        }
    }

    &__column {
        width: 212px;
        display: inline-block;

        @include mobile {
            width: 100%;
        }

        &:first-child {
            margin-right: 197px;

            @include tablet {
                margin-right: 130px;
            }

            @include mobile {
               margin-right: 20px;
            }
        }
    }

    &__text {
        font-size: 20px;
        line-height: 130%;
        color: #000000;

        @include tablet {
            font-size: 16px;
        }
    }
}
