.breadcrumbs {
    padding-top: 35px;
    margin-bottom: 15px;

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 17px;
      
            &::after {
              content: "/";
              position: absolute;
              right: -11px;
              top: 4px;
              color: #6984F0;
            }
        }
    }

    &__link {
        color: #6984F0;
        font-size: 18px;
        line-height: 140%;
    }
}

