.dynamics {
    padding-bottom: 135px;

    @include mobile {
        padding-bottom: 90px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include notebook {
            flex-direction: column;
        }
    }

    &__stat {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    &__item {
        width: 38%;

        @include notebook {
            width: 50%;
        }
    }

    &__count {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        color: #6984F0;

        @include mobile {
            font-size: 50px;
        }
    }

    &__text {
        color: #263057;
        font-size: 18px;
        display: block;

        @include mobile {
            font-size: 15px;
        }
    }

    &__img {

        @include notebook {
            margin-top: 60px;
        }
        img {
            max-width: 100%;

            @include notebook {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

