.header {
    background-color: #fff;
    padding: 25px 0 27px 0;

    @include minidesk {
        padding: 10px 0 16px 0;
    }

    @include mobile {
        padding: 0;
    }

    &__inner {
        @include flex-all-sb;
    }

    &__logo {
        margin-right: 17px;

        svg {
            width: 156px;
            height: 95px;
            fill: #263057;

            @include mobile {
                width: 100px;
            }
        }

        &--nav {
            display: none;
            @include minidesk {
                display: block;
                margin-bottom: 30px;
            }

            svg {
                fill: #fff;
                width: 160px;
                height: 120px;
            }
        }
        
    }

    &__menu {
        @include minidesk {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #2f4394;
            z-index: 10;
            overflow-y: auto;
            transform: translateY(-100%);
            padding: 25px;
            transition: all 0.3s ease-in-out;

            &.active {
                transform: translateY(0);
            }
        }
    }

    &__left {
        @include flex-v-center;
    }

    &__list {
        @include flex-v-center;

        @include minidesk {
            display: block;
        }

        li {
            &:not(:last-child) {
                margin-right: 26px;

                @include notebook {
                    margin-bottom: 25px;
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        font-size: 18px;
        line-height: 27px;
        color: #263057;
        font-weight: 400;

        @include minidesk {
            color: #fff;
        }
    }

    &__contact {
        background: url("../img/svg/phone.svg") left top no-repeat;
        padding-left: 25px;
    }

    &__num {
        display: block;
        font-weight: 700;
        font-size: 17px;
        color: #263057;

        @include mobile {
            font-size: 14px;
            line-height: 25px;
        }
    }

    &__text {
        display: block;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.28em;
        color: rgba(#263057, 0.5);

        @include mobile {
            font-size: 12px;
        }
    }

    &__buttons {
        @include flex;
        margin-left: 27px;

        @include minidesk {
            display: none;
        }

        &--nav {
            display: none;

            @include minidesk {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 35px 0 0 0;
                text-align: center;
                

                .header__btn {
                    &:last-child {
                        margin-left: 0;
                        margin-top: 20px;
                    }
                }
            }

            @include mobile {
                align-items: initial;
            }
        }
    }

    &__btn {
        padding: 13px 43px;
        font-size: 15px;

        +.btn {
            margin-left: 26px;
        }
    }

    &__right {
        @include flex-v-center;
        
    }
}

.burger {
    display: none;

    @include minidesk {
        @include flex-all-center;
        width: 34px;
        height: 34px;
        background: #6984F0;
        border-radius: 30px;
        z-index: 10;
        margin-left: 20px;
    }

    &__inner {
        @include minidesk {
            width: 20px;
            height: 13px;
            position: relative;
            z-index: 3;

            span {
                height: 2px;
                width: 100%;
                background-color: #fff;
                border-radius: 20px;
                position: absolute;
                top: 5px;
                transition-duration: .25s;
                transition-delay: .25s;  

                &::before {
                    left: 0;
                    position: absolute;
                    top: -6px;
                    height: 2px;
                    width: 100%;
                    background-color: #fff;
                    content: "";
                    border-radius: 20px;
                    transition-duration: .25s;
                    transition: transform .25s, top .25s .25s;
                }
    
                &::after {
                    left: 0;
                    position: absolute;
                    top: 6px;
                    height: 2px;
                    width: 100%;
                    background-color: #fff;
                    content: "";
                    border-radius: 20px;
                    transition-duration: .25s;
                    transition: transform .25s, top .25s .25s;
                }
            }
    
            &.active {
                span {
                    transition-duration: 0.1s;
                    transition-delay: .25s;
                    background: transparent;

                    &::before {
                        transition: top .25s, transform .25s .25s;
                        top: 0px;
                        transform: rotateZ(-45deg);
                    }

                    &::after {
                        transition: top 0.4s, transform .25s .25s;
                        top: 0px;
                        transform: rotateZ(45deg);
                    }
                }
            }
        }
    }
}



    