.news-article {
    padding-bottom: 259px;

    @include notebook {
        padding-bottom: 80px;
    }

    &__title {
        margin-bottom: 85px;

        @include notebook {
            margin-bottom: 35px;
        }
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;

        @include notebook {
            flex-direction: column;
        }
    }

    &__content {
        font-size: 18px;
        line-height: 140%;
        max-width: 560px;
        color: #263057;

        @include notebook {
            order: 2;
        }
    }

    &__par {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__date {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: #263057;
        display: block;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 13px 35px;
        font-size: 18px;
        line-height: 140%;
        margin-top: 70px;
        padding-left: 55px;

        span {
            background: url("../img/svg/arrow-prev.svg") left no-repeat;
        }
    }

    &__img {
        margin-top: 30px;
        img {
            max-width: 100%;

            @include tablet {
                width: 100%;
                object-fit: cover;
            }
        }

        @include notebook {
            order: 1;
            margin-bottom: 30px;
        }
    }
}

