.news {
    background-color: #f5f5f5;
    padding: 90px 0;

    @include mobile {
        padding: 40px 0;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__wrapper {
        margin: 0 -15px;
    }

    &__inner {
        padding: 0 15px 41px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 19px;

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mobile {
            padding-bottom: 49px;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 15px;
        padding: 30px 29px 33px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        max-width: 380px;

        @include tablet {
            padding: 20px;
        }
    }

    &__img {
        margin-bottom: 25px;
        width: 100%;
        
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__date {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #263057;
        margin-bottom: 15px;
        display: block;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #263057;
        flex: 1 1 auto;
        padding-right: 20px;
        margin-bottom: 31px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #6984F0;
        font-family: Manrope;
        background: url("../img/svg/arrow.svg") right top 5px no-repeat;
        padding-right: 17px;
    }

    &__btn {
        padding: 15px 76px;
    }
}

