.not-found {
    padding-top: 50px;

    @include mobile {
        padding-top: 20px;
    }

    &__body {
        text-align: center;
        color: #263057;
    }

    &__icon {
        display: block;
        margin-bottom: 61px;
        @include mobile {
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 15px;

        @include mobile {
            font-size: 30px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 64px;
        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__btn {
        padding: 17px 93px;
        font-size: 24px;

        @include mobile {
            padding: 14px 50px;
            font-size: 20px;
        }
    }
}
