.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#979696, 0.5);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out 0s;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    &__two {
        .popup__content {
            padding: 54px 67px;
            max-width: 1072px;

            @include mobile {
                padding: 20px;
            }
        }

        .popup__close {
            @include mobile {
                right: 20px;
                top: 20px;
            }
        }

        .popup__btn {
            margin-top: 25px;
        }
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }

    &__content {
        background-color: #fff;
        max-width: 639px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 48px 72px;
        position: relative;

        @include tablet {
            padding: 30px;
        }

        @include mobile {
            padding: 20px;
        }
    }

    &__close {
        position: absolute;
        top: 64px;
        right: 53px;

        @include tablet {
            top: 30px;
            right: 30px;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__title {
        font-size: 40px;
        line-height: 130%;
        color: #263057;
        margin-bottom: 27px;

        @include mobile {
            font-size: 30px;
        }
    }

    &__field {
        display: block;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__input {
        border: 1px solid #E0E0E0;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 100%;
        display: block;
        padding: 15px 25px;

        &::placeholder {
            font-size: 18px;
            line-height: 140%;
            color: rgba(38, 48, 87, 0.5);
        }
    }

    &__checkbox {
        margin-bottom: 28px;
        display: block;

        .custom-checkbox__text {
            font-size: 14px;
            line-height: 140%;
            color: #263057;

            &::before {
                border: 1px solid #263057;
                width: 18px;
                height: 15px;
            }
        }

        .custom-checkbox__input {
            &:checked+&__text::before {
                background-color: #263057;
            }
        }
    }

    &__btn {
        padding: 14px 65px;

        @include tablet {
            width: 100%;
        }
    }

    &__inner {
        display: flex;

        @include notebook {
            flex-direction: column;
        }
    }

    &__left {
        @include notebook {
            order: 2;
        }
    }

    &__right {
        max-width: 500px;
        margin-left: 76px;
        margin-top: 5px;

        @include notebook {
            margin-left: 0;
            margin-bottom: 30px;
            order: 1;
        }
    }

    &__speed {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        color: #263057;
        margin-bottom: 13px;
    }

    &__list {
        margin-bottom: 27px;

        li {
            font-size: 18px;
            line-height: 140%;
            color: #828282;
            background: url("../img/svg/check.svg") left no-repeat;
            padding-left: 21px;
        }
    }

    &__caption {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #263057;
    }

    &__price {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 25px;
        font-weight: 700;
        font-size: 48px;
        line-height: 130%;
        color: #6984F0;

        span {
            font-size: 30px;
            line-height: 44px;
            font-weight: 400;
            color: #263057;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        color: #263057;
        margin-bottom: 33px;
    }

    &__bonuses {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include mobile {
            row-gap: 30px;
        }

        &-item {
            @include mobile {
                flex: 0 1 50%;
            }
        }

        &-icon {
            
            svg {
                width: 42px;
                height: 42px;
                fill: #6984F0;
            }
        }
    }
}
