.speed {
    padding-bottom: 51px;

    &__title {
        margin-bottom: 85px;

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__inner {
        text-align: center;
    }

    &__icon {
        img {
            max-width: 100%;
        }
    }

    &__row {
        display: flex;
        justify-content: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        line-height: 130%;
        font-weight: 350;
        margin: 0 25px;
        display: flex;

        @include mobile {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &:not(:last-child) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                right: -27px;
                width: 1px;
                height: 42px;
                background-color: #6984F0;

                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__text {
        font-size: 20px;
        text-transform: uppercase;
        color: #263057;
        margin-right: 10px;
    }

    &__count {
        margin-right: 6px;
        font-size: 36px;
        color: #6984F0;
    }

    &__unit {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__desc {
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        max-width: 720px;
        margin: 85px auto 40px;
    }

    &__btn {
        padding: 13px 113px;
        font-size: 24px;
        line-height: 35px;

        @include mobile {
            width: 100%;
            padding: 13px 0;
        }
    }
}
