<div class="about">
    <div class="container">
        <div class="center">
            <h2 class="about__title section-title">О компании</h2>
        </div>
        <div class="about__content">
            <img src="img/about-block/image.jpg" class="about__img" alt="Image">
            <div class="about__text">
                <p>
                    Сегодня – это крупнейшая компания в Старом Осколе с широким спектром телекоммуникационных услуг: Интернет, телефония, IP телевидение, видеонаблюдение.
                </p>
                <p>
                    Мы улучшаем качество жизни людей, предоставляя возможность свободного общения в информационном сообществе. Предлагаем самые современные Интернет технологии наивысшего качества. 
                </p>
            </div>
        </div>
        <div class="center">
            <a href="about-page.html" class="about__btn btn btn--light">Подробно о компании</a>
        </div>
    </div>
</div>