<div class="accordion">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Оплатить</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="accordion__title section-title">оплатить</h1>
            </div>
        </div>
        <div class="accordion__inner">
            <div class="accordion__item">
                <div class="accordion__header">
                    Оплата картой
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    В личном кабинете
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Сбербанк онлайн
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Телебанк «ВТБ24»
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Касса (мкр. Королева, 28)
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Банкоматы «ВТБ24»
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Банкоматы «Сбербанк»
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Банкоматы «Липецккомбанк»
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                    <div class="accordion__content">
                        <p>Оплата услуг осуществляется через кассу в офисе компании «Осколнэт» по адресу:<b>мкр. Королева 28, оф. 3</b></p>
                        <p><b>График работы:</b> ежедневно с 09.00 до 20.00 без перерывов и выходных.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>