<div class="best">
    <div class="container">
        <h2 class="best__title section-subtitle">Лучшие, потому что</h2>
        <div class="best__inner">
            <div class="best__item">
                <div class="best__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#best-1"></use>
                    </svg>
                </div>
                <h3 class="best__caption">Современные</h3>
                <p class="best__desc">Используем современные технологии и ставим интересы клиента на первое место.</p>
            </div>
            <div class="best__item">
                <div class="best__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#best-2"></use>
                    </svg>
                </div>
                <h3 class="best__caption">Оперативные</h3>
                <p class="best__desc">Выполняем все поставленные задачи оперативно и в заявленные сроки.</p>
            </div>
            <div class="best__item">
                <div class="best__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#best-3"></use>
                    </svg>
                </div>
                <h3 class="best__caption">Надёжные</h3>
                <p class="best__desc">Мы гарантируем, что наши услуги будут работать надёжно. Мы хотим, чтобы вы и ваши близкие чувствовали ...</p>
            </div>
            <div class="best__item">
                <div class="best__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#best-4"></use>
                    </svg>
                </div>
                <h3 class="best__caption">Открытые</h3>
                <p class="best__desc">Вы всегда можете узнать, кто и что делает ...</p>
            </div>
        </div>
    </div>
</div>