<div class="business-tariffs">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Тарифы для бизнеса</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="business-tariffs__title section-title">тарифы для бизнеса</h1>
            </div>
        </div>
        <div class="business-tariffs__content">
            <div class="business-tariffs__tabs tabs">
                <nav class="tabs__head">
                    <div class="tabs__toggle active">Для ИП</div>
                    <div class="tabs__toggle tabs__toggle--hit">Для ЮЛ</div>
                    <div class="tabs__toggle">SIP-телефония</div>
                </nav>
                <div class="tabs__body">
                    <div class="tabs__block active">
                        <div class="business-tariffs__slider swiper">
                            <div class="swiper-wrapper">
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-1</h2>
                                    <div class="business-tariffs__speed">2 Мбит/с</div>
                                    <a href="#popup2" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">500 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-2</h2>
                                    <div class="business-tariffs__speed">5 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">1000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <span class="business-tariffs__hit op1">Хит</span>
                                    <h2 class="business-tariffs__caption">Бизнес-4</h2>
                                    <div class="business-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">2000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-8</h2>
                                    <div class="business-tariffs__speed">20 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">3000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-16</h2>
                                    <div class="business-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">5000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-1</h2>
                                    <div class="business-tariffs__speed">2 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">500 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-2</h2>
                                    <div class="business-tariffs__speed">5 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">1000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <span class="business-tariffs__hit op1">Хит</span>
                                    <h2 class="business-tariffs__caption">Бизнес-4</h2>
                                    <div class="business-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">2000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-8</h2>
                                    <div class="business-tariffs__speed">20 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">3000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-16</h2>
                                    <div class="business-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">5000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-1</h2>
                                    <div class="business-tariffs__speed">2 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">500 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-2</h2>
                                    <div class="business-tariffs__speed">5 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">1000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <span class="business-tariffs__hit op1">Хит</span>
                                    <h2 class="business-tariffs__caption">Бизнес-4</h2>
                                    <div class="business-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">2000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-8</h2>
                                    <div class="business-tariffs__speed">20 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">3000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="business-tariffs__item swiper-slide">
                                    <div class="business-tariffs__hit">Хит</div>
                                    <h2 class="business-tariffs__caption">Бизнес-16</h2>
                                    <div class="business-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="business-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="business-tariffs__price">5000 <span>₽/мес</span></div>
                                    <a href="#" class="business-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>