<div class="docs">
    <div class="container">
        <div class="center">
            <h2 class="docs__title section-title">Документы</h2>
        </div>
        <div class="docs__inner">
            <div class="docs__item">
                <a href="#" class="docs__icon">
                    <img src="img/docs/icon.png" alt="">
                </a>
                <div class="docs__desc">Договор оферты на оказание услуг связи (Интернет)</div>
            </div>
            <div class="docs__item">
                <a href="#" class="docs__icon">
                   <img src="img/docs/icon.png" alt="">
                </a>
                <div class="docs__desc">Договор оферты на оказание услуг связи (Цифровое Телевидение)</div>
            </div>
            <div class="docs__item">
                <a href="#" class="docs__icon">
                    <img src="img/docs/icon.png" alt="">
                </a>
                <div class="docs__desc">Лицензия 1</div>
            </div>
        </div>
        <div class="center">
            <a href="documentation.html" class="docs__btn btn btn--light">Все документы</a>
        </div>
    </div>
</div>