<div class="documents">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Документы</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="documents__title section-title">Документы</h1>
            </div>
        </div>
        <div class="documents__inner">
            <div class="documents__block">
                <h2>Договоры</h2>
                <div class="documents__item">
                    <a href="#" class="documents__link">Договор оферты на оказание услуг связи (Интернет)</a>
                    <span>758,55 Кб</span>
                </div>
                <div class="documents__item">
                    <a href="#" class="documents__link">Договор оферты на оказание услуг связи (Цифровое Телевидение)</a>
                    <span>758,55 Кб</span>
                </div>
            </div>
            <div class="documents__block">
                <h2>Лицензии</h2>
                <div class="documents__item">
                    <a href="#" class="documents__link">Лицензия 1</a>
                    <span>758,55 Кб</span>
                </div>
                <div class="documents__item">
                    <a href="#" class="documents__link">Лицензия 2</a>
                    <span>758,55 Кб</span>
                </div>
            </div>
            <div class="documents__block">
                <h2>Реквизиты</h2>
                <div class="documents__item">
                    <a href="#" class="documents__link">Реквизиты организации</a>
                    <span>758,55 Кб</span>
                </div>
            </div>
            <div class="documents__block">
                <h2>Прочие документы</h2>
                <div class="documents__item">
                    <a href="#" class="documents__link">Выписка из Кодекса РФ о Договоре оферты</a>
                    <span>758,55 Кб</span>
                </div>
                <div class="documents__item">
                    <a href="#" class="documents__link">Политика в отношении обработки персональных данных</a>
                    <span>758,55 Кб</span>
                </div>
            </div>
        </div>
    </div>
</div>