<div class="dynamics">
    <div class="container">
        <h2 class="dynamics__title section-subtitle">Динамика развития</h2>
        <div class="dynamics__inner">
            <div class="dynamics__stat">
                <div class="dynamics__item">
                    <div class="dynamics__count">>25</div>
                    <span class="dynamics__text">лет истории</span>
                </div>
                <div class="dynamics__item">
                    <div class="dynamics__count">>50</div>
                    <span class="dynamics__text">сотрудников</span>
                </div>
                <div class="dynamics__item">
                    <div class="dynamics__count">>450</div>
                    <span class="dynamics__text">подключенных домов</span>
                </div>
                <div class="dynamics__item">
                    <div class="dynamics__count">>5000</div>
                    <span class="dynamics__text">Гб данных передаются каждую минуту</span>
                </div>
            </div>
            <div class="dynamics__img">
                <img src="img/dynamics/image.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>