<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__buttons footer__buttons--mob">
                    <a href="#" class="footer__btn btn btn--light">Личный кабинет</a>
                    <a href="#" class="footer__btn btn btn--white">Оплатить</a>
                </div>
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li>
                            <a href="about-page.html" class="footer__link">О компании</a>
                        </li>
                        <li>
                            <a href="news-page.html" class="footer__link">Новости</a>
                        </li>
                        <li>
                            <a href="documentation.html" class="footer__link">Документы</a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li>
                            <a href="tariffs-home.html" class="footer__link">Тарифы для дома</a>
                        </li>
                        <li>
                            <a href="tariffs-business.html" class="footer__link">Тарифы для бизнеса</a>
                        </li>
                        <li>
                            <a href="contacts.html" class="footer__link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li>
                            <a href="speed-test.html" class="footer__link">Тест скорости</a>
                        </li>
                        <li>
                            <a href="coverage-map.html" class="footer__link">Карта покрытия</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__right">
                    <div class="footer__buttons footer__buttons--desk">
                        <a href="#" class="footer__btn btn btn--light">Личный кабинет</a>
                        <a href="#" class="footer__btn btn btn--white">Оплатить</a>
                    </div>
                    <div class="footer__contact">
                        <a class="footer__num" href="tel:+7 (4725) 43-97-20">+7 (4725) 43-97-20</a>
                        <span>Круглосуточно</span>
                    </div>
                    <div class="footer__social">
                        <a href="#" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#viber"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#wa"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#tg"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__copy">
                    &copy; ЗАО «Осколнэт», 2022
                </div>
                <p class="footer__text">Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookies и других пользовательских данных, в соответствии с Политикой конфиденциальности</p>
                <div class="footer__switches">
                    <a href="#" class="footer__switch footer__switch--prev">
                        <svg>
                            <use xlink:href="img/sprite.svg#fot-arrow_prev"></use>
                        </svg>
                    </a>
                    <span>сайт эксперт</span>
                    <a href="#" class="footer__switch footer__switch--next">
                        <svg>
                            <use xlink:href="img/sprite.svg#fot-arrow_next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>