<div class="gallery">
    <div class="container">
        <h2 class="gallery__title section-subtitle">Фотогалерея</h2>
        <div class="gallery__inner">
            <div class="gallery__item">
                <div class="gallery__photo">
                    <img src="img/gallery/img-1.jpg" alt="">
                </div>
            </div>
            <div class="gallery__item">
                <div class="gallery__photo">
                    <img src="img/gallery/img-2.jpg" alt="">
                </div>
            </div>
            <div class="gallery__item">
                <div class="gallery__photo">
                    <img src="img/gallery/img-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>