<header class="header lock-padding" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">
                <a href="#" class="header__logo">
                    <svg>
                        <use xlink:href="img/sprite.svg#logo"></use>
                    </svg>
                </a>
                <nav class="header__menu">
                    <a href="#" class="header__logo header__logo--nav">
                        <svg>
                            <use xlink:href="img/sprite.svg#logo"></use>
                        </svg>
                    </a>
                    <ul class="header__list">
                        <li>
                            <a href="tariffs-home.html" class="header__link">Тарифы для дома</a>
                        </li>
                        <li>
                            <a href="tariffs-business.html" class="header__link">Тарифы для бизнеса</a>
                        </li>
                        <li>
                            <a href="contacts.html" class="header__link">Контакты</a>
                        </li>
                    </ul>
                    <div class="header__buttons header__buttons--nav">
                        <a href="error404.html" class="header__btn btn btn--light">Личный кабинет</a>
                        <a href="payment.html" class="header__btn btn btn--dark">Оплатить</a>
                    </div>
                </nav>
            </div>
            <div class="header__right">
                <div class="header__contact">
                    <a href="tel:+7 (4725) 43-97-20" class="header__num">+7 (4725) 43-97-20</a>
                    <span class="header__text">круглосуточно</span>
                </div>
                <div class="header__buttons">
                    <a href="error404.html" class="header__btn btn btn--light">Личный кабинет</a>
                    <a href="payment.html" class="header__btn btn btn--dark">Оплатить</a>
                </div>
                <div class="burger">
                    <div class="burger__inner">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>