<section class="home">
    <div class="container">
        <div class="home__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="home__content">
                        <h1 class="home__title">ИНТЕРНЕТ <br><span>на высокой скорости</span></h1>
                        <a href="#" class="home__btn btn btn--light">Выбрать тариф</a>
                    </div>
                    <div class="home__img">
                        <img src="img/home/bg.png" alt="" class="home__image home__image--desk">
                        <img src="img/home/bg-mob.png" class="home__image home__image--mob" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__content">
                        <h1 class="home__title">ИНТЕРНЕТ <br><span>на высокой скорости</span></h1>
                        <a href="#" class="home__btn btn btn--light">Выбрать тариф</a>
                    </div>
                    <div class="home__img">
                        <img src="img/home/bg.png" alt="" class="home__image home__image--desk">
                        <img src="img/home/bg-mob.png" class="home__image home__image--mob" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__content">
                        <h1 class="home__title">ИНТЕРНЕТ <br><span>на высокой скорости</span></h1>
                        <a href="#" class="home__btn btn btn--light">Выбрать тариф</a>
                    </div>
                    <div class="home__img">
                        <img src="img/home/bg.png" alt="" class="home__image home__image--desk">
                        <img src="img/home/bg-mob.png" class="home__image home__image--mob" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
