<div class="home-tariffs">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Тарифы для дома</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="home-tariffs__title section-title">тарифы для дома</h1>
            </div>
        </div>
        <div class="home-tariffs__content">
            <div class="home-tariffs__tabs tabs">
                <nav class="tabs__head">
                    <div class="tabs__toggle active">Интернет</div>
                    <div class="tabs__toggle tabs__toggle--hit">Интернет + Кабельное ТВ</div>
                    <div class="tabs__toggle">Интернет + Smart TV</div>
                    <div class="tabs__toggle">Интернет + Телефония</div>
                </nav>
                <div class="tabs__body">
                    <div class="tabs__block active">
                        <div class="home-tariffs__slider swiper">
                            <div class="swiper-wrapper">
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Medium</h2>
                                    <div class="home-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">300 <span>₽/мес</span></div>
                                    <a href="#popup1" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Total</h2>
                                    <div class="home-tariffs__speed">60 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">450 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <span class="home-tariffs__hit op1">Хит</span>
                                    <h2 class="home-tariffs__caption">Energy</h2>
                                    <div class="home-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">600 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Ultra</h2>
                                    <div class="home-tariffs__speed">200 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">900 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Rush</h2>
                                    <div class="home-tariffs__speed">300 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">1100 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Medium</h2>
                                    <div class="home-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">300 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Total</h2>
                                    <div class="home-tariffs__speed">60 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">450 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <span class="home-tariffs__hit op1">Хит</span>
                                    <h2 class="home-tariffs__caption">Energy</h2>
                                    <div class="home-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">600 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Ultra</h2>
                                    <div class="home-tariffs__speed">200 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">900 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Rush</h2>
                                    <div class="home-tariffs__speed">300 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">1100 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Medium</h2>
                                    <div class="home-tariffs__speed">30 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">300 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Total</h2>
                                    <div class="home-tariffs__speed">60 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">450 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <span class="home-tariffs__hit op1">Хит</span>
                                    <h2 class="home-tariffs__caption">Energy</h2>
                                    <div class="home-tariffs__speed">100 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">600 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Ultra</h2>
                                    <div class="home-tariffs__speed">200 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">900 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                                <div class="home-tariffs__item swiper-slide">
                                    <div class="home-tariffs__hit">Хит</div>
                                    <h2 class="home-tariffs__caption">Rush</h2>
                                    <div class="home-tariffs__speed">300 Мбит/с</div>
                                    <a href="#" class="home-tariffs__more">
                                        Подробнее
                                        <svg>
                                            <use xlink:href="img/sprite.svg#popup"></use>
                                        </svg>
                                    </a>
                                    <div class="home-tariffs__price">1100 <span>₽/мес</span></div>
                                    <a href="#" class="home-tariffs__btn btn btn--light">Подключить</a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                    <div class="tabs__block">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>