<div class="map">
    <div class="container">
        <div class="map__inner">
            <div class="section__top">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__inner">
                        <li class="breadcrumbs__item">
                            <a href="index.html" class="breadcrumbs__link">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <h1 class="map__title section-title">Контакты</h1>
            </div>
            <div class="map__content">
                <a href="tel:+7 (4725) 43-97-20" class="map__item map__item--tel">+7 (4725) 43-97-20</a>
                <a href="mailto:info@oskolnet.ru" class="map__item map__item--email">info@oskolnet.ru</a>
                <address class="map__item map__item--address">РФ. г. Старый Оскол, мкр. Королева, д. 28</address>
                <div class="map__social">
                    <a href="#" target="_blank" class="map__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#viber"></use>
                        </svg>
                    </a>
                    <a href="#" target="_blank" class="map__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#wa"></use>
                        </svg>
                    </a>
                    <a href="#" target="_blank" class="map__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#tg"></use>
                        </svg>
                    </a>
                    <a href="#" target="_blank" class="map__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="map__map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/oskolnet/1313788817/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Осколнэт</a><a href="https://yandex.ru/maps/10649/stariy-oskol/category/internet_service_provider/184105748/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Интернет-провайдер в Старом Осколе</a><a href="https://yandex.ru/maps/10649/stariy-oskol/category/telecommunication_company/184107799/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Телекоммуникационная компания в Старом Осколе</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUJQRhooD" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>


