<div class="news-article">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="news-page.html" class="breadcrumbs__link">Новости</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Название новости</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="news-article__title section-title">Название новости</h1>
            </div>
        </div>
        <div class="news-article__inner">
            <div class="news-article__content">
                <time class="news-article__date" datetime="2022-05-03 12:00">05.03.2022</time>
                <p class="news-article__par">Уважаемые клиенты!</p>
                <p class="news-article__par">05 марта 2022 с 17:00 до 23:00 на сети интернет будут проводиться планово-профилактические работы. </p>
                <p class="news-article__par">Возможно прерывание доступа к сети интернет и телевещания в указанный промежуток времени.</p>
                <p class="news-article__par">Приносим извинения за доставленные неудобства.</p>
                <a href="news-page.html" class="news-article__btn btn btn--light">К списку новостей</a>
            </div>
            <div class="news-article__img">
                <img src="img/news-article/image.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>