<div class="news">
    <div class="container">
        <div class="center">
            <h2 class="news__title section-title">Новости</h2>
        </div>
        <div class="news__inner">
            <article class="news__item">
                <div class="news__img">
                    <img src="img/news/image-1.jpg" alt="">
                </div>
                <time class="news__date" datetime="2022-05-03 12:00">05.03.2022</time>
                <div class="news__text">05 марта 2022 с 17:00 до 23:00 на сети интернет будут проводиться планово-профилактические работы.</div>
                <a href="#" class="news__link">Подробнее</a>
            </article>
            <article class="news__item">
                <div class="news__img">
                    <img src="img/news/image-2.jpg" alt="">
                </div>
                <time class="news__date" datetime="2022-01-01 12:00">01.02.2022</time>
                <div class="news__text">С 1 февраля 2022г меняется «Канал подарков». На кнопке 33 появится новый канал «Plan B».</div>
                <a href="#" class="news__link">Подробнее</a>
            </article>
            <article class="news__item">
                <div class="news__img">
                    <img src="img/news/image-3.jpg" alt="">
                </div>
                <time class="news__date" datetime="2022-20-01 12:00">20.01.2022</time>
                <div class="news__text">«Осколнэт» предоставляет всем клиентам набор современных, надежных и необходимых телеком-услуг для дома.</div>
                <a href="#" class="news__link">Подробнее</a>
            </article>
        </div>
        <div class="center">
            <a href="news-page.html" class="news__btn btn btn--light">Все новости</a>
        </div>
    </div>
</div>