<div class="not-found">
    <div class="container">
        <div class="not-found__body">
            <div class="not-found__icon">
                <img src="img/not-found/icon.png" alt="">
            </div>
            <h1 class="not-found__title">404. Страница не найдена</h1>
            <p class="not-found__text">То, что вы ищете, не существует или пока не открыто.</p>
            <a href="index.html" class="not-found__btn btn btn--light">Перейти на главную</a>
        </div>
    </div>
</div>