<div class="partners">
    <div class="container">
        <div class="center">
            <h2 class="partners__title section-title">Партнеры</h2>
        </div>
        <div class="partners__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/partners/img-1.png" alt="" class="partners__img">
                </div>
                <div class="swiper-slide">
                    <img src="img/partners/img-2.png" alt="" class="partners__img">
                </div>
                <div class="swiper-slide">
                    <img src="img/partners/img-3.png" alt="" class="partners__img">
                </div>
                <div class="swiper-slide">
                    <img src="img/partners/img-4.png" alt="" class="partners__img">
                </div>
            </div>
            <div class="partners__btn partners__btn--prev">
                <svg>
                    <use xlink:href="img/sprite.svg#Arrow--prev"></use>
                </svg>
            </div>
            <div class="partners__btn partners__btn--next">
                <svg>
                    <use xlink:href="img/sprite.svg#Arrow-next"></use>
                </svg>
            </div>
            <div class="swiper-pagination"></div>

            
        </div>
    </div>
</div>