<div class="popup popup__one" id="popup1">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <form action="#" class="popup__form">
                <h1 class="popup__title">Заявка на подключение</h1>
                <label for="#" class="popup__field">
                    <input type="tel" class="popup__input" placeholder="+7 (___) ___-__-__ *">
                </label>
                <label for="#" class="popup__field">
                    <input type="text" class="popup__input" placeholder="Как Вас зовут? *">
                </label>
                <label for="#" class="popup__field">
                    <input type="text" class="popup__input" placeholder="Адрес дома *">
                </label>
                <label for="#" class="popup__field">
                    <input type="number" class="popup__input" placeholder="Удобное время для звонка">
                </label>
                <label class="custom-checkbox popup__checkbox">
                    <input type="checkbox" class="custom-checkbox__input">
                    <span class="custom-checkbox__text">Нажимая на кнопку, я даю согласие на обработку персональных данных</span>
                </label>
                <button class="popup__btn btn btn--light" type="submit">Жду звонка</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup__two" id="popup2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <h1 class="popup__title">Тариф «Бизнес-1»</h1>
            <div class="popup__inner">
                <div class="popup__left">
                    <h3 class="popup__speed">2 Мбит/с</h3>
                    <ul class="popup__list">
                        <li>Бесплатное подключение</li>
                        <li>Статический IP-адрес</li>
                    </ul>
                    <h3 class="popup__caption">Необходимое оборудование</h3>
                    <ul class="popup__list">
                        <li>Wi-Fi роутер</li>
                    </ul>
                    <div class="popup__price">500 <span>₽/мес</span></div>
                    <button class="popup__btn btn btn--light" type="button">Подключить</button>
                </div>
                <div class="popup__right">
                    <p class="popup__text">Интернет и IP-телевидение у вас дома! Высокая и стабильная скорость доступа в Интернет, множество популярных каналов: кино, детям, ток-шоу, бизнес, спорт, новости и пр. Тарифное предложение доступно для подключения новых и перехода действующих клиентов. Подключение производится при наличии технической возможности. 
                    </p>
                    <div class="popup__bonuses">
                        <div class="popup__bonuses-item">
                            <div class="popup__bonuses-icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#best-1"></use>
                                </svg>
                            </div>
                            <div class="popup__caption">Бонус 1</div>
                        </div>
                        <div class="popup__bonuses-item">
                            <div class="popup__bonuses-icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#best-2"></use>
                                </svg>
                            </div>
                            <div class="popup__caption">Бонус 2</div>
                        </div>
                        <div class="popup__bonuses-item">
                            <div class="popup__bonuses-icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#best-3"></use>
                                </svg>
                            </div>
                            <div class="popup__caption">Бонус 3</div>
                        </div>
                        <div class="popup__bonuses-item">
                            <div class="popup__bonuses-icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#best-4"></use>
                                </svg>
                            </div>
                            <div class="popup__caption">Бонус 4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>