<div class="speed">
    <div class="container">
        <div class="section__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__inner">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Тест скорости</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <h1 class="speed__title section-title">Тест скорости</h1>
            </div>
        </div>
        <div class="speed__inner">
            <div class="speed__icon">
                <img src="img/speed/img.png" alt="">
            </div>
            <div class="speed__row">
                <div class="speed__item">
                    <span class="speed__text">PING</span>
                    <span class="speed__count">6</span>
                    <span class="speed__unit">ms</span>
                </div>
                <div class="speed__item">
                    <span class="speed__text">СКАЧАТЬ</span>
                    <span class="speed__count">94.1</span>
                    <span class="speed__unit">Mbps</span>
                </div>
                <div class="speed__item">
                    <span class="speed__text">ЗАГРУЗИТЬ</span>
                    <span class="speed__count">75.5</span>
                    <span class="speed__unit">Mbps</span>
                </div>
            </div>
            <p class="speed__desc">Уважаемые абоненты, вы можете замерить скорость соединения, нажав на кнопку «Тестировать»</p>
            <a href="#" class="speed__btn btn btn--light">Тестировать</a>
        </div>
    </div>
</div>