<div class="test-forms test-forms__pb">
    <div class="container">
        <div class="test-forms__inner">
            <div class="test-forms__item">
                <form action="#" class="test-forms__form">
                    <h2 class="test-forms__title">Трудно выбрать? Мы поможем!</h2>
                    <div class="test-forms__row">
                        <label for="#" class="test-forms__field">
                            <input type="tel" data-validate-field="myField" class="test-forms__input" placeholder="+7 (___) ___-__-__ *">
                        </label>
                        <label for="#" class="test-forms__field">
                            <input type="tel" class="test-forms__input" placeholder="Как Вас зовут? *">
                        </label>
                        <button type="submit" class="test-forms__btn btn btn--light">Жду звонка</button>
                    </div>
                    <label class="custom-checkbox test-forms__checkbox">
                        <input type="checkbox" class="custom-checkbox__input">
                        <span class="custom-checkbox__text">Нажимая на кнопку, я даю согласие на обработку персональных данных</span>
                    </label>
                </form>
            </div>
            <div class="test-forms__item">
                <form action="#" class="test-forms__form">
                    <h2 class="test-forms__title">Проверить возможность подключения по вашему адресу</h2>
                    <div class="test-forms__row">
                        <img src="img/svg/map-1.svg" alt="" class="test-forms__icon">
                        <label for="#" class="test-forms__field">
                            <input type="text" class="test-forms__input test-forms__input--long" placeholder="Улица">
                        </label>
                        <label for="#" class="test-forms__field">
                            <input type="number" class="test-forms__input test-forms__input--short" placeholder="Дом">
                        </label>
                        <button type="submit" class="test-forms__btn test-forms__btn--check btn btn--light">Проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>